

<h1>Things to do in Aspen, Colorado</h1>

<% @todos.each do |todo| %>
  <div class="booyah-box col-10 offset-1">
    <h2><%= todo.name %></h2>
    <p><%= todo.description %></p><br />
  </div>

<% end %>
